/* Para que en el html no haya márgenes y se ajuste a la pantalla */

*{
    margin: 0;
    padding: 0;
}

img{
    width: 70%;
    height: auto;
}

/* Para asegurar que ocupa toda la página y el body, y el color de fondo*/

html, body{
    background-color: #fff3e6;
    height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

/*Personalización del menú 1*/

.menu{
    z-index: 100;

    /*display: flex;
    flex-direction: row;*/
    /*flex-shrink: 1;*/
    justify-content: space-between;

    top: 0;
    width: 100%;
    height: 13vh; /*89px*/
    position:fixed;
    min-height: 13vh;

    font-family: 'Roboto', sans-serif;
    background-color: #AC1B2C;
}

.logo{
    top: 0;
    margin-left: 1vh;
    /*margin-right: 6vh;*/
    /*width: 32.5%;*/
    width: 37%;
    float: left;
}

.nombre {
  top:0;
  width: 23%;
  /*order: 2;*/
}

.usr {
  margin-left: 25px;
}

.titulo {
  align-items: center;
  width: 1300px;
  /*flex-shrink: 1;*/
}

.registro {
  float: right;
  margin-top: 5vh;
  margin-right: 4vh;
  font-size: 20px;
  font-weight: bold;
}
.registro a {
  text-align: right;
  color: black;
}

.login {
  float: right;
  width: 100px;
  margin-top: 4vh;
  margin-right: 4vh;
  font-size: 20px;
  font-weight: bold;
  padding: 1vh;
}

.login a {
    text-align: right;
    color: black;
    display: block;
}

/* Personalización menu2*/

.menu2 {
    z-index: 100;

    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: flex-end;

    margin-top: -4vh;
    background-color: #BB3D43;
    width: 100%;
    min-height: 4vh;
    height: 1vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    position: fixed;
}

.carrito{
    margin-right: 2%;
    flex-shrink: 1;
}

#carrito {
    width: 4vh;
}


.buscador{
    margin-right: 2.5%;
    flex-shrink: 1;
}

.buscador input{
    width: 75%;
    display: inline-block;
    float: left;
    border: none;
    background-color: rgb(224, 221, 228);
    padding: 6.5px 0;
    text-align: center;
    margin-top: 1%;
}

.lupa{
    width: 21%;
    padding-bottom: 1vh;
    margin-top: 0.7%;
    display: inline-block;
    float: left;
    background-color: dimgrey;
    flex-shrink: 1;
}

#lupa{
    width: 40%;
    margin-left: 30%;
    margin-top: 6%;
}

/* Personalizacion de la estructura */

.estructura {
    height: 90%;
    margin-top: 17vh;
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    left: 0;
    height: 185vh;
    /*border-right: 2px solid black;*/
    background-color: #e5d2b9; /*dimgrey*/
    box-shadow: 3px 0px 10px 1px rgba(0,0,0,0.75);

}

.desplegable {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
}

.desplegable li {
  height: 2.5em;
}

.desplegable li a {
  background-color: #e5d2b9; /*dimgray*/
  color: black;
  font-weight: bold;
  padding: 5%;
  display: block;
}

.desplegable li a:hover {
  background-color:  #AC1B2C;
}

.desplegable li ul {
  display: none;
  min-width: 10vw;
}

.desplegable li:hover > ul {
  display: block;
}

.contenido {
  right: 0;
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Carteles de peliculas*/


.dos {
  padding-top: 5%;
}

.tres {
  padding-top: 5%;
}

.car:hover {
  width: 100%;
  opacity: 0.4;
}

/* Personalización del footer */

.footer {
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #AC1B2C;

    font-family: 'Roboto', sans-serif;
}



.copyright {
    text-align: center;
}

/* División de la página por columnas para una division mas estructurada de la página*/

.fila{
	clear: both;
	margin: 0 auto;
}

/* Etiqueta para manejar las columnas*/

[class*="col-"]{
	float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*Personalizacion de la página de las peliculas*/

.ficha {
  height: 205.5%;
}

.fichatitulo {
  height: 15%;
  text-decoration: underline;
  text-align: center;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  color: #AC1B2C;
}

.informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  height: 40%;
}

.poster {
  margin-left: 14vh;
}

.foto {
  width: 50vh;

}

.datos {
  display:block;
}

.datoslista {
  margin-left: 18vh;
  list-style-type: none;
  width: 19vh;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.datoscompletos {
  display: block;
  width: 10px;
  margin-left: 24vh;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.datoscompletoslista {
  width: 75vh;
  font-size: 30px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.sinopsiscontenedor {
  margin-top: 10vh;
  margin-left: 15vh;
  flex-shrink: 1;
  display: flex;
  flex-grow: 1;
  padding: 15vh;
}

.sinopsis {
  width: 20vh;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
}


.sinopsisnombre {
  width: 15vh;
  font-size: 30px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  flex-shrink: 1;
  flex-grow: 1;
}

.descsinopsis {
  width: 115vh;
  font-size: 30px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  flex-shrink: 1;
  flex-grow: 1;
}

.botoncompra {
  text-align: center;
  margin-top: 10%;
}

.tablacompra {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  justify-content: center;
  margin-top: 8vh;
}

.tabla {
  width: 70vh;
  height: 20vh;
  border: 1px solid black;
  border-collapse: collapse;
}

.tabla tr,td,th {
  border: 1px solid black;
  border-collapse: collapse;
}

.tabla td {
  text-align: center;
}

.titulotabla {
  height: 15%;
  text-decoration: underline;
  text-align: center;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  color: #AC1B2C;
  margin-top: 5vh;
}

/*CSS DE LA PAGINA REGISTER.HTML*/

.tituloregistro {
  height: 15%;
  text-decoration: underline;
  text-align: center;
  margin-right: 20vh;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  color: #AC1B2C;
  margin-top: 5vh;
}

.formulario {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;

  margin-right: 15%;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;

}

.botonFormulario {
  text-align: center;
  margin-top: 30%;
}

.button {
    background-color: #AC1B2C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*
.lista1{
  flex-shrink: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;

  list-style-type: none;
}*/

.lista2{
  flex-shrink: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  list-style-type: none;
  text-align: center;
}
